body{

font-family:Arial;

background:linear-gradient(135deg,#007bff,#00c6ff);

height:100vh;

display:flex;

justify-content:center;

align-items:center;

margin:0;

}

.auth-container{

background:white;

padding:40px;

width:320px;

border-radius:10px;

box-shadow:0 10px 25px rgba(0,0,0,0.2);

text-align:center;

}

.auth-container h2{

color:#007bff;

margin-bottom:20px;

}

input{

width:100%;

padding:12px;

margin:10px 0;

border:1px solid #ccc;

border-radius:5px;

}

button{

width:100%;

padding:12px;

background:#007bff;

border:none;

color:white;

font-size:16px;

border-radius:5px;

cursor:pointer;

}

button:hover{

background:#0056cc;

}

.dashboard{

text-align:center;

background:white;

padding:40px;

border-radius:10px;

box-shadow:0 10px 25px rgba(0,0,0,0.2);

}